/* float 속성 특징 : float 걸린 태그는 떠 있음 */
/* float 하위 태그들이 높이가 없다고 인식 - 위로 올라옴(겹침) */

*{
    margin: 0px;
    padding: 0px;
}

#image {
    border: 1px solid red;
    width: 200px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

img {
    max-width: 100%;
}

#desc {
    float: left;
    border: 1px solid red;
    width: 250px;
    margin-left: 20px;
}

#menu {
    float: right;
    border: 1px solid red;
    list-style-type: none;
}