*{
    padding: 0px;
    margin: 0px;
}
/* 목록 점없애기 */
ul {
    list-style-type: none;
}

legend {
    /* 1em(rem) = 16px(반응형 웹 디자인 요소) */
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 20px;
}

fieldset {
    border: 1px solid lightgrey;
    margin-bottom: 35px;
    padding: 30px 20px 30px 30px;
}

form {
    width: 520px;
    height: auto;
    /* auto : 자식요소 만큼 알아서 증가 */
    padding-left: 10px;
    /* TODO : 중앙정렬 (div등) */
    /* 바깥여백 : 좌/우 상/하 */
    /* 사용법 : [margin: 숫자px auto;] */
    margin: 50px auto;
}

/* 라벨 */
.field {
    width: 60px;
    /* margin 축약식(중앙정렬) margin : 상/하 좌/우 */
    margin-right: 15px;
    /* 가로배치 */
    display: inline-block;
    /* display - 가로배치 시 일정한 공간으로 배치해준다. */
    /* 글자크기 = 세로크기 */
    font-size: 0.9em;
    font-weight: bold;
    text-align: right;
}
/* 입력양식 */
.input-box {
    display: inline-block;
    width: 350px;
    height: 35px;
    padding: 5px;
    margin: 10px 0;
}
/* 제출버튼 */
.order {
    width: 100%;
    border: 1px solid #aaaaaa;
    background-color: #e9e9e9;
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
}
