  @import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
.container {
    width: 600px;
    margin: 0px auto;

}

h1 {
    text-align: center;
    font-family: 'Gamja Flower', cursive;
    text-size-adjust: 20px;
}

ul {
    list-style-type: none;
}
#user-info {
    font-weight: bold;
    font-size: 1em;
    margin: 0px auto;
    border-radius: 10px;
}
form {
    width: 600px;
    height: auto;
    margin: 0 auto;
}
.input-box {
    width: 350px;
    font-size: 1em;
    height: 35px;
    margin: 10px 0;
    padding: 5px;
}
.field {
    display: inline-block;
    text-align: right;
    font-weight: bold;
    margin-right: 15px;
    width: 80px;
}

#buttons > li {
    display: inline-block;
}

button {
    background-color: rgb(235, 235, 235);
    width: 250px;
    height: 50px;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid rgb(143, 143, 143);
    border-radius: 15px;
    margin-right: 5px;
}