/* 박스 안에 글자 세로 중앙 정렬 */

.wrapper {
    width: 500px;
    border: 1px solid lightcoral;
}

h1 {
    /* 글자 가로 중앙정렬 */
    text-align: center;
    background-color: lightslategray;
    color: whitesmoke;
    height: 100px;
    /* TODO : line-height(자간 줄 간격) */
    /* line-hight == height (글자 세로 중앙 정렬) */
    line-height: 100px;
}