
h3 {
    border-left: 5px solid blue;
    padding-left: 5px;
    margin: 20px;
}

p {
    margin-bottom: 10px;
    margin-left: 30px;
}

ul {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 45px;
    padding-top: 5px;
    padding-bottom: 8px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -20px;
}