body {
    color: #444444;
}

h3 {
    border-left: 5px solid green;
    padding-left: 5px;
}

div {
    width: 610px;
    text-align: right;
}

table, tr, td {
    margin-top: 20px;
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: left;
    width: 610px;
    font-size: 12px;
}

tr{
    height: 60px;
}
td {
    width: 76px;
    padding: 5px; 
}

table {
    border-top: 2px solid gray;
}