/* 여백 초기화 */
* {
    padding: 0;
    margin: 0;
}

/* 전체 페이지 크기 정하기 */
#container {
    width: 1200px;
    /* 중앙정렬 */
    /* 사용법 : margin: 상/하 auto(오른쪽/왼쪽 여백을 똑같이(중앙정렬)) */
    margin: 20px auto;
}

#header {
    height: 120px;
    /* 임시(시각화) */
    background-color: violet;

}

/* 전체 1200px (사이드바 - 300px + 본문 - 900px) */
/* 사이드바(좌측메뉴) */
#sidebar {
    width: 300px;
    height: 600px;
    /* 임시 */
    background-color: thistle;
    /* 좌측배치 */
    float: left;
}

/* 본문(우측) */
#contents {
    width: 900px;
    height: 600px;
    /* 임시 */
    background-color: slateblue;
    /* float 속성 : 순차적으로 쌓임(left써도 무방) */
    float: right;
}

#footer {
    /* 겹침현상방지(float때문) */
    clear: both;
    height: 100px;
    background-color: mediumslateblue;
}
