#container {
    width: 200px;
    margin: 30px auto;
}

/* 애니메이션 효과 부여 대상 */
img {
    /* 외곽선 */
    border: 1px solid #cccccc;
    border-radius: 50%;
    /* TODO 애니메이션 효과 부여(함수사용) */
    animation: rotateBear 1ms infinite;
}

/* css 함수 */
/* @keyframes 함수명 */
/* from {} : 최초 실행 위치 */
/* 50% {} : 중간 실행 위치 */
/* to {} : 마지막 실행 위치 */
@keyframes rotateBear {
    /* TODO rotateY == y축 회전, 음수 왼쪽, 양수 오른쪽 */
    /* TODO rotateX == x축 회전, 음수 아래, 양수 위쪽 */
    /* TODO perspective(픽셀) == 원근감 */
    /* TODO 사용법 == transform: perspective(픽셀) rotateY(X)(0~360도) */
    from{
        transform: perspective(100px) rotateX(0deg);
    }
    50%{
        transform: perspective(100px) rotateX(-90deg);
    }
    to{
        transform: perspective(100px) rotateX(-360deg);
    }
}
